a {
  text-decoration: none;
  color: inherit;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 30px;
  background-color: white;
}

.logo-img {
  width: 30%;
  cursor: pointer;
}


.header-nav-list {
  display: flex;
}

.header-nav-item {
  color: grey;
  cursor: pointer;
}

.header-nav-item:not(:last-child) {
  margin-right: 30px;
}


.main {
  position: relative;
  display: flex;
  flex-direction: row-reverse
}

.main-img {
  width: 60%;
  margin: 0 0 50px auto; 
}

.img-firstview {
  width: 100%;
  height: 100%;
  display: block;
  position:relative;
}

.main-inner {
  margin: 8px 10px 40px 10px;
}

.main-ttl {
  color: rgb(185, 3, 134);
  padding: 50px 150px;
  font-family: 'Indie Flower', cursive;
  font-size: 50px;
  position:absolute
}

.main-ttl-grow, .main-copy-grow {
  color : rgb(2, 149, 129);
}

.main-copy {
  color: rgb(185, 3, 134);
  padding: 5px 150px;
  position: absolute;
  top: 180px;
}

.main-txt {
  position: absolute;
  top:210px;
  left: 160px;
  font-size: 12px;
}


.news-inner {
  width: 45%;
  margin: 40px auto;
}

.news-ttl {
  padding-bottom: 10px;
}

.h4-news-ttl {
  color:rgb(185, 3, 134);
  font-family: 'Indie Flower', cursive;
  padding-bottom: 5px;
  font-size: 10px;
}

.h2-news-ttl {
  padding-bottom: 25px;
  border-bottom: 2px solid rgb(165, 163, 163);
}

.news-content {
  display: flex;
  text-align: center;
  padding-top: 12px;  
  padding-bottom: 12px;
  border-bottom: 1px solid rgb(165, 163, 163);
  font-size: 10px;
  color: grey;
}

.news-tg {
  background: rgb(185, 3, 134);
  color: white;
  border-radius: 10px;
  font-size: 8px;
  padding: 2px 8px;
  vertical-align: middle;
  margin: 0 5px;
}

.news-text-last{
  position: relative;
}

.news-text-last::after {
  content: '';
  width: 222%;
  height: 2px;
  background-color: rgb(165, 163, 163);
  position: absolute;
  bottom: -30px;
  left: -65%;
}

.about {
  background-color: #f0f0f0;
}

.about-ttl {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
  line-height: 1.3em;
}

.h4-about-ttl {
  color: rgb(185, 3, 134);
  font-family: 'Indie Flower', cursive;
  font-size: 10px;
}

.h2-about-ttl {
  color: grey;
  font-weight: bold;
}

.about-inner {
  width: 70%;
  margin: 30px auto;
  text-align: center;
  justify-content: space-between;
}

.about-main {
  display: flex;
  width: 100%;
  padding: 10px 30px;
}

.about-txt {
  width: 150%;
  font-size: 10px;
  color: grey;
  padding-top: 15px;;
  text-align: left;
  line-height: 1.8em;
}

.about-photo {
  width: 50%;
  padding-left: 100px;
  margin: 0 0 50px auto;
}


.service-inner {
  width: 70%;
  margin: 5% 15%;
}

.service-ttl {
  padding-bottom: 10px;
  line-height: 1.3em;
}

.h4-service-ttl {
  color: rgb(185, 3, 134);
  font-family: 'Indie Flower', cursive;
  font-size: 10px;
}

.h2-service-ttl {
  color: grey;
  font-weight: bold;
}

.service-inner-both {
  display: grid;
  grid-template-rows: 2fr 2fr;
  grid-template-columns: 2fr 2fr;
  width: 100%;
}

.service-inner-left {
  grid-column: 1/2;
  grid-row: 1/3;
  background-color: rgb(191, 3, 128);
  padding: 40px 50px;
  line-height: 1.0em;
  color: white;
  position: relative;
}

.service-left-image {
  position: absolute;
  top: 10%;
  left: 19%;
  width: 25%;
  height: 25%;
  padding-bottom: 5px;
  padding-left: 60px;
}

.service-left-ttl {
  position: absolute;
  top: 52%;
  left: 40%;
  text-align: center;
}

.service-left-txt{
  position: absolute;
  top: 60%;
  font-size: 8px;
}


.service-inner-rt,
.service-inner-rb {
  position: relative;
  padding-bottom: 40px;
  color: white;
}

.service-inner-rt {
  grid-column: 2/3;
  grid-row: 1/2;
  background-color: rgba(145, 23, 110, 0.684);
  display: flex;
}

.service-inner-rb {
  grid-column: 2/3;
  grid-row: 2/3;
  background-color: rgba(69, 22, 56, 0.329);
  display: flex;
}

.service-rt-image,
.service-rb-image {
  position: absolute;
  left: 5%;
  width: 25%;
  object-fit: cover;
  padding-top: 15px;
  padding-left: 10px;
}

.service-inner-rt-ttl,
.service-inner-rb-ttl {
  position: absolute;
  top:25%;
  left: 35%;
  font-weight: bold;
  font-size: 12px;
  padding-bottom: 15px;
}

.service-rt-txt,
.service-rb-txt {
  padding-top: 40px;
  padding-left: 35%;
  line-height: 2.0em;
  font-size: 8px;
}


.blog {
  margin-top: 100px;
  background-color: #f0f0f0;
}

.blog-inner {
  width: 80%;
  justify-content: space-around;
  padding: 20px 10%;
}

.blog-ttl {
  padding-left: 25px;
  padding: 20px auto 50px 25px;
}

.h4-blog-ttl {
  color: rgb(185, 3, 134);
  font-family: 'Indie Flower', cursive;
  font-size: 10px;
  padding-bottom: 5px;
}

.h2-blog-ttl {
  color: grey;
  padding-bottom: 15px;
}

.blog-archive {
  display: flex;
  text-align: center;
  column-count: 3;
}

.blog-archive-item {
  width: 90%;
  justify-content: space-between;
  cursor: pointer;
}

.blog-photo {
  width: 80%;
  height: auto;
  border-radius: 20px 20px 0 0;
}

.blog-img {
  position: relative;
}

.blog-tg {
  position: absolute;
  border-radius: 20px 0 0 0;
  color: white;
  background-color: rgb(185, 3, 134);
  padding:10px 10px;
  font-size: 10px;
  top: 0;
  left: 10%;
}


.h3-blog-ttl{
  font-size: 10px;
  font: grey;
  padding: 5px 0;
}

.blog-content {
  background: white;
  width: 81%;
  margin-left: 10%;
  margin-bottom: 10px;
  border-radius: 0 0 20px 20px;
  padding: 10px 0;
}

.blog-dt {
  font-size: 10px;
  padding: 5px 0;
  justify-content: space-around;
}

.blog-btn {
  width: 15%;
  text-align: center;
  background-color: white;
  color :rgb(185, 3, 134);
  border:1px solid rgb(185, 3, 134);
  border-radius: 5rem;
  padding: 10px 5px;
  margin: 10px auto;
  cursor: pointer;
  font-size: 10px;
}

.company {
  margin-bottom: 50px;
}

.company-inner {
  width: 70%;
  margin:30px auto 10px auto;
}

.company-ttl {
  padding-left: 8%;
  line-height: 1.3em;
}

.h4-company-ttl {
  color: rgb(185, 3, 134);
  font-family: 'Indie Flower', cursive;
  padding-bottom: 10px;
  font-size: 10px;
}

.h2-company-ttl {
  color: grey;
  font-weight: bold;
}

.table {
  position: absolute;
  top: 30%;
}

table {
  width: 60%;
  margin: 0 auto;
  border-collapse: collapse;
} 

table th, 
table td {
  border: 1px solid #ccc;
  padding: 20px; 
  font-size: 14px;
  color: grey;
}

table th {
  font-weight: bold;
  background-color: #f0f0f0;
  text-align: left;
}

.recruit {
  width:100%;
  display: flex;
}


.recruit-img, .interview-img {
  position: relative;
}

.recruit-photo, .interview-photo {
  width: 100%;
}

.recruit-ttl{
  position: absolute;
  top: 50%;
  left: 43%;
}

.interview-ttl {
  position: absolute;
  top: 50%;
  left: 38%;
}

.recruit-ttl, .interview-ttl {
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.contact {
  text-align: center;
  margin: 50px auto 50px auto;
}

.contact-inner {
  padding: 20px auto;
}

.contact-txt {
  padding-bottom: 8px;
  font-size: 12px;
  font-weight: bold;
  color: rgb(201, 199, 199);
}

.contact-btn {
  position: relative;
  padding: 20px 50px;
  background: linear-gradient(90deg, hsl(328, 100%, 66%), rgb(185, 3, 91));
  border-radius: 5rem;
  color: white;
  font-size: 8px;
  cursor: pointer;
  box-shadow: 0 2px 2px 1px rgb(67, 0, 52);
}

.contact-btn::before {
  content: "";
  position: absolute;
  background: url(../img/mailicon.svg) no-repeat;
  top: 50%;
  left: 10px;
  width: 18px;
  height: 18px;
  transform: translate(0, -50%);
}

.contact-line {
  font-size: large;
  color: red;
}

.footer {
  background-color: #f0f0f0;
  height:30px;
}

p.footer {
  font-size: 12px;
  align-items: center;
  text-align: center;
  color: grey;
  padding-top: 15px;
  vertical-align: middle;
}